    /*CLASES REUTILIZABLES*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    background-color: #fff;
}

header {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
}

footer {
    text-align: center;
    height: 70px;
    background: #373B47;
    color: #FFF;
    padding-top: 7px;
}

.menu-container {
    margin-left: 120px;
    margin-right: 120px;
}

img {
    vertical-align: middle;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 14px;
    padding-right: 14px;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container:after {
    clear: both;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.m-0 {
    margin: 0px;
}

a {
    color: #373B47;
    text-decoration: none;
}

a:hover {
    color: #E95853;
}

.text-uppercase {
    text-transform: uppercase;
}

.link {
    font-weight: 700;
    padding: 21px;
    display: inline-block;
}

.logo {
    float: right;
}

.menu {
    padding: 14px 70px;
    overflow: auto;
}

#home {
    background-image: url(../img/bg-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    text-align: center;
    margin-top: 80px;
}

#home .container {
    color: white;
    padding: 70px;
}

.text-home {
    font-size: 53px;
}

.btn-home {
    background: #2ECC71;
    color: #FFF;
    padding: 11px 20px;
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 63px;
    display: inline-block;
    font-size: 14px;
}

#services {
    background-color: #F17C72;
    text-align: center;
    color: #FFF;
    padding: 70px 7px;
}

.text-services {
    font-size: 35px;
    letter-spacing: 2px;
}

.box-services {
    display: inline-block;
    width: 30%;
    margin-top: 63px;
}

#work {
    background-color: #FFF;
    text-align: center;
    padding: 70px 7px;
}

.box-work {
    display: inline-block;
    width: 70%;
    text-align: center;
    margin-top: 63px;
}

#items {
    width: 820px;
    display: inline-block;
}

.items-list {
    display: inline-block;
}

.item {
    height: 159px;
    margin-bottom: 10px;
}

[id^="img-"] {
    cursor: pointer;
}

[id^="img-"]:hover {
    opacity: 0.7;
}

figcaption {
    color: #333;
    font-weight: 700;
    font-size: 15px;
}


/*
  ========================================
  Modal
  ========================================
*/

.modal {
    background-color: rgb(59, 210, 160);
    background-color: rgba(59, 210, 160, 0.9);
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal-pictures,
.modal-content {
    border: 15px solid white;
    -webkit-box-shadow: -1px 1px 25px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 1px 25px 9px rgba(0,0,0,0.2);
    box-shadow: -1px 1px 25px 9px rgba(0,0,0,0.2);
    margin: auto;
    display: block;
    max-width: 700px;
}

.modal-content,
.close {
    opacity: 1;
    -webkit-animation: display-none-transition 1s both;
    animation: display-none-transition 1s both;
}

@-webkit-keyframes display-none-transition {
    0% {
        opacity: 0;
    }
}

@keyframes display-none-transition {
    0% {
        opacity: 0;
    }
}

.close,
.previous,
.next {
    position: absolute;
    z-index: 2;
    opacity: 1;
    font-size: 35px;
    color: #3BD2A0;
    transition: all 0.3s;
}

.close {
    font-size: 70px;
    top: 8px;
    right: 345px;
}

.previous {
    top: 301px;
    left: 345px;
}

.next {
    top: 300px;
    right: 345px;
}

.previous:hover,
.next:hover,
.close:hover,
.close:focus {
    opacity: 1;
    color: #40B791;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }